/vendor/
/campus_cms/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/web/libraries/
/web/sites/*/files/
/web/sites/*/settings.local.php
/web/sites/*/settings.php
/web/sites/*/services.local.yml
/.phpunit.result.cache
/.env
*.log
